<div class="card" style="width: 18rem;">
    {% if sitename %}
    <div class="card-header">
        <a href="{{ base }}" class="card-text text-muted"><h6>{{ sitename }}</h6></a>
    </div>
    {% endif %}
    {% if simage %}
        <img src="{{ simage }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        {% if title %}
            <a href="{{ url }}"><h5 class="card-title">{{ title }}</h5></a>
        {% endif %}
    </div>
    {% if description %}
    <div class="card-footer">
        <p class="card-text text-muted clamp">{{ description }}</p>
    </div>
    {% endif %}
</div>